<template>
  <div>
    <title-bar :title-stack="titleStack" />
    <hero-bar>
      List Hak Akses
      <button
        slot="right"
        class="button "
        @click="isCardModalActive = true"
      >
        Tambah Hak Akses
      </button>
    </hero-bar>
    <section class="section is-main-section">
      <b-modal
        v-model="isCardModalActive"
        has-modal-card
      >
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              Tambah Hakses
            </p>
            <button
              type="button"
              class="delete"
              @click="isCardModalActive = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field
              label="Hak Akses"
            >
              <b-input
                v-model="name"
                type="text"
                maxlength="30"
              />
            </b-field>
            <b-field
              label="Kode"
            >
              <b-input
                v-model="code"
                type="text"
                maxlength="30"
              />
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              native-type="button"
              type="is-danger"
              outlined
              @click="isCardModalActive = false"
            >
              Batal
            </b-button>
            <b-button
              type="is-primary"
              @click="addData"
            >
              Simpan
            </b-button>
          </footer>
        </div>
      </b-modal>
      <b-modal
        v-model="isCardModalEdit"
        has-modal-card
      >
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              Ubah Hak Akses
            </p>
            <button
              type="button"
              class="delete"
              @click="isCardModalEdit = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field
              label="Hak Akses"
            >
              <b-input
                v-model="name"
                type="text"
                maxlength="30"
              />
            </b-field>
            <b-field
              label="Kode"
            >
              <b-input
                v-model="code"
                type="text"
                maxlength="30"
              />
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              native-type="button"
              type="is-danger"
              outlined
              @click="isCardModalEdit = false"
            >
              Batal
            </b-button>
            <b-button
              type="is-primary"
              @click="updateData"
            >
              Simpan
            </b-button>
          </footer>
        </div>
      </b-modal>
      <card-component
        title="List Hak Akses"
        icon="ballot"
      >
          <b-table
          :checked-rows.sync="checkedRows"
          :checkable="checkable"
          :paginated="paginated"
          :per-page="perPage"
          :data="data"
          default-sort="name"
          striped
          hoverable
        >
          <b-table-column
            v-slot="props"
            label="Nama Hak Akses"
            field="name"
            sortable
          >
            {{ props.row._source.name }}
          </b-table-column>
          <b-table-column
            v-slot="props"
            label="Kode Hak Akses"
            field="code"
            sortable
          >
            {{ props.row._source.code }}
          </b-table-column>
          <b-table-column
            v-slot="props"
            label="Aksi"
            field="aksi"
            sortable
          >
            <div class="buttons">
              <b-button   type="is-success"
                @click="edit(props.row)"
                > Update</b-button>
                <b-button   type="is-danger"
                @click="deleteData(props.row._id)"
                > Delete</b-button>
            </div>
          </b-table-column>
          <section
            slot="empty"
            class="section"
          >
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large"
                />
              </p>
              <p>Nothing's here&hellip;</p>
            </div>
          </section>
        </b-table>
      </card-component>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import { defineComponent } from 'vue'
import TitleBar from '@/components/TitleBar.vue'
import CardComponent from '@/components/CardComponent.vue'
import FilePicker from '@/components/FilePicker.vue'
import HeroBar from '@/components/HeroBar.vue'
import CheckboxRadioPicker from '@/components/CheckboxRadioPicker.vue'

export default defineComponent({
  name: 'FormsView',
  components: {
    CheckboxRadioPicker,
    HeroBar,
    FilePicker,
    CardComponent,
    TitleBar
  },
  data () {
    return {
      titleStack: ['Admin', 'Hak Akses'],
      departments: ['Business Development', 'Marketing', 'Sales'],
      isCardModalActive: false,
      isCardModalEdit: false,
      code: null,
      name: null,
      id: null,
      data: [],
      customElementsForm: {
        checkbox: ['lorem'],
        radio: 'one',
        switch: true,
        file: null
      }
    }
  },
  mounted(){
    this.getData();
  },
  methods: {
    getData(){
      axios.get(import.meta.env.VITE_BACKEND+'/role').then((res) => {
        this.data = res.data.data.items
      })
    },
    updateData () {
      const data = {
        name: this.name,
        code: this.code
      }
      axios.put(import.meta.env.VITE_BACKEND + '/role/' + this.id, data, { headers: { Authorization: 'Bearer ' + localStorage.getItem('access_token') } }).then((res) => {
        this.getData()
        this.isCardModalEdit = false
      }).catch((err) =>{
        console.log(err)
        // if(err.response.status === 400){
        //   this.errors = err.response.data.message
        // }else if(err.response.status === 500){
        //   this.$buefy.snackbar.open(`Error, upps something wrong`)
        // }
      })
    },
    addData () {
      const data = {
        name: this.name,
        code: this.code
      }
      axios.post(import.meta.env.VITE_BACKEND + '/role', data).then((res) => {
        this.code = null;
        this.name = null;
        this.isCardModalActive = false
        this.getData()
      }).catch((err) =>{
        if(err.response.status === 400){
          this.errors = err.response.data.message
        }else if(err.response.status === 500){
          this.$buefy.snackbar.open(`Error, upps something wrong`)
        }
      })
    },
    edit (item) {
      this.isCardModalEdit = true
      this.id = item._id
      this.name = item._source.name
      this.code = item._source.code
    },
    deleteData(id){
      axios.delete(import.meta.env.VITE_BACKEND + '/role/' + id).then((res) => {
         this.getData()
      }).catch((err) =>{
        if(err.response.status === 400){
          this.errors = err.response.data.message
        }else if(err.response.status === 500){
          this.$buefy.snackbar.open(`Error, upps something wrong`)
        }
      })
    },
    formAction () {
      this.$buefy.snackbar.open({
        message: 'Demo only',
        queue: false
      })
    }
  }
})
</script>
