<template>
  <div>
    <title-bar :title-stack="titleStack" />
    <hero-bar>
      List Merek
      <button
        slot="right"
        class="button "
        @click="isCardModalActive = true"
      >
        Tambah Merek
      </button>
    </hero-bar>
    <section class="section is-main-section">
      <b-modal
        v-model="isCardModalActive"
        has-modal-card
      >
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              Tambah Merek
            </p>
            <button
              type="button"
              class="delete"
              @click="isCardModalActive = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field
              label="Nama Merek"
            >
              <b-input
                v-model="name"
                type="text"
                maxlength="30"
              />
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              native-type="button"
              type="is-danger"
              outlined
              @click="isCardModalActive = false"
            >
              Batal
            </b-button>
            <b-button
              type="is-primary"
              @click="addData"
            >
              Simpan
            </b-button>
          </footer>
        </div>
      </b-modal>
      <b-modal
        v-model="isCardModalEdit"
        has-modal-card
      >
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">
              Ubah Merek
            </p>
            <button
              type="button"
              class="delete"
              @click="isCardModalEdit = false"
            />
          </header>
          <section class="modal-card-body">
            <b-field
              label="Nama Merek"
            >
              <b-input
                v-model="name"
                type="text"
                maxlength="30"
              />
            </b-field>
          </section>
          <footer class="modal-card-foot">
            <b-button
              native-type="button"
              type="is-danger"
              outlined
              @click="isCardModalEdit = false"
            >
              Batal
            </b-button>
            <b-button
              type="is-primary"
              @click="updateData"
            >
              Simpan
            </b-button>
          </footer>
        </div>
      </b-modal>
      <card-component
        title="List Merek"
        icon="ballot"
      >
          <b-table
          :data="data"
          default-sort="name"
          striped
          hoverable
        >
          <b-table-column
            v-slot="props"
            label="Nama Merek"
            field="name"
            sortable
          >
            {{ props.row._source.name }}
          </b-table-column>
          <b-table-column
            v-slot="props"
            label="Aksi"
            field="aksi"
            sortable
          >
            <div class="buttons">
              <b-button   type="is-success"
                @click="edit(props.row)"
                > Update</b-button>
                <b-button   type="is-danger"
                @click="deleteData(props.row._id)"
                > Delete</b-button>
            </div>
          </b-table-column>
          <section
            slot="empty"
            class="section"
          >
            <div class="content has-text-grey has-text-centered">
              <p>
                <b-icon
                  icon="emoticon-sad"
                  size="is-large"
                />
              </p>
              <p>Nothing's here&hellip;</p>
            </div>
          </section>
        </b-table>
        <b-pagination
          :total="total"
          v-model="current"
          :rounded="true"
          :per-page="perPage"
          :icon-prev="prevIcon"
          :icon-next="nextIcon"
          aria-next-label="Next page"
          aria-previous-label="Previous page"
          aria-page-label="Page"
          aria-current-label="Current page"
          :page-input="hasInput"
          @change="getRows"
          :page-input-position="inputPosition"
          :debounce-page-input="inputDebounce">
      </b-pagination>
      </card-component>
    </section>
  </div>
</template>

<script>
import axios from 'axios';
import { defineComponent } from 'vue'
import TitleBar from '@/components/TitleBar.vue'
import CardComponent from '@/components/CardComponent.vue'
import FilePicker from '@/components/FilePicker.vue'
import HeroBar from '@/components/HeroBar.vue'
import CheckboxRadioPicker from '@/components/CheckboxRadioPicker.vue'

export default defineComponent({
  name: 'FormsView',
  components: {
    CheckboxRadioPicker,
    HeroBar,
    FilePicker,
    CardComponent,
    TitleBar
  },
  data () {
    return {
      titleStack: ['Admin', 'Merek'],
      departments: ['Business Development', 'Marketing', 'Sales'],
      isCardModalActive: false,
      isCardModalEdit: false,
      name: null,
      id: null,
      data: [],
      rangeBefore: 3,
      total: null,
      current: 1,
      perPage: 5,
      rangeAfter: 1,
      order: '',
      size: '',
      isSimple: false,
      isRounded: false,
      hasInput: false,
      prevIcon: 'chevron-left',
      nextIcon: 'chevron-right',
      inputPosition: '',
      inputDebounce: '',
    }
  },
  mounted(){
    this.getData();
  },
  methods: {
    getData(){
      const data = {
        page: this.current,
        perPage:this.perPage
      }
      axios.get(import.meta.env.VITE_BACKEND+'/brands', { params:data,headers: { Authorization: 'Bearer ' + localStorage.getItem('access_token') } }).then((res) => {
        this.data = res.data.data.items
        this.total = res.data.data.total
      })
    },
    updateData () {
      const data = {
        name: this.name,
        code: this.code
      }
      axios.put(import.meta.env.VITE_BACKEND + '/brands/' + this.id, data, { headers: { Authorization: 'Bearer ' + localStorage.getItem('access_token') } }).then((res) => {
        this.getData()
        this.isCardModalEdit = false
      }).catch((err) =>{
        if(err.response.status === 400){
          this.errors = err.response.data.message
        }else if(err.response.status === 500){
          this.$buefy.snackbar.open(`Error, upps something wrong`)
        }
      })
    },
    addData () {
      const data = {
        name: this.name,
        code: this.code
      }
      axios.post(import.meta.env.VITE_BACKEND + '/brands', data).then((res) => {
        this.code = null;
        this.name = null;
        this.isCardModalActive = false
        this.getData()
      }).catch((err) =>{
        if(err.response.status === 400){
          this.errors = err.response.data.message
        }else if(err.response.status === 500){
          this.$buefy.snackbar.open(`Error, upps something wrong`)
        }
      })
    },
    getRows(){
      const data = {
        page: this.current,
        perPage:this.perPage
      }
     axios.get(import.meta.env.VITE_BACKEND + '/brands', { params:data,headers: { Authorization: 'Bearer ' + localStorage.getItem('access_token') } }).then((res) => {
        this.data = res.data.data.items
        this.total = res.data.data.total
      })
    },
    edit (item) {
      this.isCardModalEdit = true
      this.id = item._id
      this.name = item._source.name
      this.code = item._source.code
    },
    deleteData(id){
      axios.delete(import.meta.env.VITE_BACKEND + '/brands/' + id).then((res) => {
         this.getData()
      }).catch((err) =>{
        if(err.response.status === 400){
          this.errors = err.response.data.message
        }else if(err.response.status === 500){
          this.$buefy.snackbar.open(`Error, upps something wrong`)
        }
      })
    },
    formAction () {
      this.$buefy.snackbar.open({
        message: 'Demo only',
        queue: false
      })
    }
  }
})
</script>
